<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!-- Based on: Google Java Style https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml -->

<module name="Checker">
    <property name="severity" value="warning" />

    <module name="com.puppycrawl.tools.checkstyle.checks.header.HeaderCheck">
        <property name="severity" value="error" />
        <property name="fileExtensions" value="java" />
        <property name="header"
            value="/*\n * Copyright (C) 2016 Tercio Gaudencio Filho\n *\n * Licensed under the Apache License, Version 2.0 (the &quot;License&quot;); you may not use this file except in compliance with the License. You may\n * obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an &quot;AS IS&quot; BASIS,\n * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions\n * and limitations under the License.\n */\n" />
    </module>

    <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.FileTabCharacterCheck">
        <property name="eachLine" value="true" />
    </module>

    <module name="com.puppycrawl.tools.checkstyle.TreeWalker">
        <module name="com.puppycrawl.tools.checkstyle.checks.OuterTypeFilenameCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.IllegalTokenTextCheck">
            <property name="tokens" value="STRING_LITERAL, CHAR_LITERAL" />
            <property name="format" value="\\u00(08|09|0(a|A)|0(c|C)|0(d|D)|22|27|5(C|c))|\\(0(10|11|12|14|15|42|47)|134)" />
            <property name="message" value="Avoid using corresponding octal or Unicode escape." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.AvoidEscapedUnicodeCharactersCheck">
            <property name="allowEscapesForControlCharacters" value="true" />
            <property name="allowByTailComment" value="true" />
            <property name="allowNonPrintableEscapes" value="true" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck">
            <property name="max" value="140" />
            <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://| IGNORE CHECKSTYLE " />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.design.OneTopLevelClassCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.NoLineWrapCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.EmptyBlockCheck">
            <property name="option" value="TEXT" />
            <property name="tokens"
                value="LITERAL_TRY, LITERAL_CATCH, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.NeedBracesCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.LeftCurlyCheck">
            <property name="maxLineLength" value="140" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.blocks.RightCurlyCheck">
            <property name="option" value="alone" />
            <property name="tokens"
                value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, LITERAL_DO, STATIC_INIT, INSTANCE_INIT" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck">
            <property name="allowEmptyConstructors" value="true" />
            <property name="allowEmptyMethods" value="true" />
            <property name="allowEmptyTypes" value="true" />
            <property name="allowEmptyLoops" value="true" />
            <message key="ws.notFollowed" value="WhitespaceAround: ''{0}'' is not followed by whitespace." />
            <message key="ws.notPreceded" value="WhitespaceAround: ''{0}'' is not preceded with whitespace." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.OneStatementPerLineCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleVariableDeclarationsCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.ArrayTypeStyleCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.MissingSwitchDefaultCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.FallThroughCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.UpperEllCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.EmptyLineSeparatorCheck">
            <property name="allowNoEmptyLineBetweenFields" value="true" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.SeparatorWrapCheck">
            <property name="tokens" value="DOT" />
            <property name="option" value="nl" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.SeparatorWrapCheck">
            <property name="tokens" value="COMMA" />
            <property name="option" value="EOL" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.PackageNameCheck">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$" />
            <message key="name.invalidPattern" value="Package name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.TypeNameCheck">
            <message key="name.invalidPattern" value="Type name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.MemberNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <message key="name.invalidPattern" value="Member name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.ParameterNameCheck">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <message key="name.invalidPattern" value="Parameter name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck">
            <property name="tokens" value="VARIABLE_DEF" />
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <property name="allowOneCharVarInForLoop" value="true" />
            <message key="name.invalidPattern" value="Local variable name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.ClassTypeParameterNameCheck">
            <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)" />
            <message key="name.invalidPattern" value="Class type name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.MethodTypeParameterNameCheck">
            <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)" />
            <message key="name.invalidPattern" value="Method type name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.NoFinalizerCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.GenericWhitespaceCheck">
            <message key="ws.followed" value="GenericWhitespace ''{0}'' is followed by whitespace." />
            <message key="ws.preceded" value="GenericWhitespace ''{0}'' is preceded with whitespace." />
            <message key="ws.illegalFollow" value="GenericWhitespace ''{0}'' should followed by whitespace." />
            <message key="ws.notPreceded" value="GenericWhitespace ''{0}'' is not preceded with whitespace." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.indentation.IndentationCheck">
            <property name="basicOffset" value="2" />
            <property name="braceAdjustment" value="0" />
            <property name="caseIndent" value="2" />
            <property name="throwsIndent" value="4" />
            <property name="lineWrappingIndentation" value="4" />
            <property name="arrayInitIndent" value="2" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.AbbreviationAsWordInNameCheck">
            <property name="ignoreFinal" value="false" />
            <property name="allowedAbbreviationLength" value="1" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.OverloadMethodsDeclarationOrderCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.coding.VariableDeclarationUsageDistanceCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.imports.CustomImportOrderCheck">
            <property name="thirdPartyPackageRegExp" value=".*" />
            <property name="specialImportsRegExp" value="com.github.x3333" />
            <property name="sortImportsInGroupAlphabetically" value="false" />
            <property name="customImportOrderRules" value="STATIC###SPECIAL_IMPORTS###STANDARD_JAVA_PACKAGE###THIRD_PARTY_PACKAGE" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.MethodParamPadCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.whitespace.OperatorWrapCheck">
            <property name="option" value="NL" />
            <property name="tokens"
                value="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR, LT, MINUS, MOD, NOT_EQUAL, PLUS, QUESTION, SL, SR, STAR " />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationLocationCheck">
            <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.annotation.AnnotationLocationCheck">
            <property name="tokens" value="VARIABLE_DEF" />
            <property name="allowSamelineMultipleAnnotations" value="true" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.NonEmptyAtclauseDescriptionCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocTagContinuationIndentationCheck" />

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.SummaryJavadocCheck">
            <property name="forbiddenSummaryFragments" value="^@return the *|^This method returns |^A [{]@code [a-zA-Z0-9]+[}]( is a )" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocParagraphCheck">
            <property name="allowNewlineParagraph" value="false" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.AtclauseOrderCheck">
            <property name="tagOrder" value="@param, @return, @throws, @deprecated" />
            <property name="target" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocMethodCheck">
            <property name="scope" value="public" />
            <property name="allowMissingParamTags" value="true" />
            <property name="allowMissingThrowsTags" value="true" />
            <property name="allowMissingReturnTag" value="true" />
            <property name="minLineCount" value="5" />
            <property name="allowedAnnotations" value="Override, Test" />
            <property name="allowThrowsTagsForSubclasses" value="true" />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck">
            <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9_]*$" />
            <message key="name.invalidPattern" value="Method name ''{0}'' must match pattern ''{1}''." />
        </module>

        <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.SingleLineJavadocCheck" />
    </module>
</module>
